<div class="wrapper-layout">
  <header>{{title}}</header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <aside>
    <ul class="c-navbar">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="routerLinkActive" id="lnk-home">
          <span class="material-icons">
            home
          </span> Home
        </a>
      </li>
      <li>
        <a [routerLink]="['/products']" routerLinkActive="routerLinkActive">
          <span class="material-icons">
            list
          </span> Products
        </a>
      </li>
      <li>
        <a [routerLink]="['/employees']" routerLinkActive="routerLinkActive">
          <span class="material-icons">
            accessibility_new
          </span> Employees
        </a>
      </li>
    </ul>
  </aside>
  <footer><p>&copy; 2020 Atrombetone - Dojo Testes unitários e E2E<p></p></footer>
</div>

