<div class="c-card">
  <h3>Home</h3>
  <div class="c-card-content">
    Este é um exemplo de card
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eveniet blanditiis voluptatibus dolores esse dolorem sequi sit? Exercitationem, iste. Perspiciatis illum delectus, quos odit ducimus dolore? Delectus non vero nesciunt!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil pariatur deleniti itaque enim sapiente dolore nobis, dignissimos minus, quo consequuntur harum dolorum quam sed exercitationem amet culpa! Officia, obcaecati placeat!
    </p>
  </div>
  <div class="c-card-actions">
    Área de Actions
  </div>
</div>